.card:hover {
  box-shadow: 0 0 0 4px var(--bg) inset, 0 0 0 2px #6366f1;
}

.card:active {
  scale: 1.05;
}

.icons:hover {
  box-shadow: 28px 0 15px 0 #000 inset, -28px 0 15px 0 #000 inset, 0 28px 15px 0 #000 inset, 0 -28px 15px 0 #000 inset;
}